<section>
  <div class="form-container">
    <h1>Password Generator</h1>
    <p>Generate a random password with the options below.</p>

    <label>
      <input type="checkbox" [(ngModel)]="includeUpperCase" /> Uppercase
      Letters
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeLowerCase" /> Lowercase
      Letters
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeNumbers" /> Numbers
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeSpecialChars" /> Special Characters
    </label>

    <div>
      <button (click)="generatePassword(8)">8 Char</button>
      <button (click)="generatePassword(12)">12 Char</button>
      <button (click)="generatePassword(16)">16 Char</button>
    </div>
  </div>
  <div class="char-container">
    @for (char of password; track char) {
    <div>{{ char }}</div>
    }
  </div>
</section>
